doctype 5
html
	head
		title Meals
	body
		h1 Meals
		table
			tr
				th Creation Time
				th
			each meal in meals
				form(action="/meal", method="post")
					tr
						td
							a(href="#{help.mealUrl(meal)}") #{meal.created_at}
						td
							button(name="delete", value="#{meal.id}") X
			form(action="/meal", method="post")
				tr
					td
						button(name="create", value="1") New meal

