extends layout

block vars
  - var title = 'Meal Plans'

block body
  h1= title
  form(action="/plan", method="post")
    table
      tr
        th Plan
        th
      each plan in plans
        tr
          td
            a(href="#{help.planUrl(plan)}") #{plan.name}
          td
            button(name="delete", value="#{plan.id}") X
        tr
          td
            input(type="text", name="name", id="name")
          td
            button(name="create", value="1") New plan

